TOOLS/OBJECTLISTITEM/ObjectListItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="sap.m">
    <xs:element name="FragmentDefinition">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ObjectListItem">
                    <xs:complexType>
                        <xs:attribute name="title" use="required" />
                        <xs:attribute name="type" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>